<?xml version="1.0"?>
<model>
  <name>Perching Pole 16cm</name>
  <version>1.0</version>
  <sdf version="1.6">pole_16cm.sdf</sdf>
  <author>
    <name>huaqiccc</name>
    <email>huaqiccc@example.com</email>
  </author>
  <description>16cm diameter perching pole for morphing quadrotor grasping test.</description>
</model>
